# App
APP_PUERTO=3000
APP_AMBIENTE=desarrollo
APP_NOMBRE=NEXUS
APP_PREFIJO_API=api

# JWT
JWT_SECRETO=cambiar-esto-en-produccion-por-favor
JWT_EXPIRA_EN=8h

# Oracle
ORACLE_HOST=192.168.184.148
ORACLE_PUERTO=1521
ORACLE_SERVICIO=dwsuka
ORACLE_USUARIO=CI_PANEL
ORACLE_CONTRASENA=
ORACLE_ESQUEMA=dwh_suka
ORACLE_POOL_MIN=2
ORACLE_POOL_MAX=10
# Ruta del Oracle Instant Client. Requerido para Oracle 11g (activa modo Thick).
# Si la BD es >=12.1 puede dejarse vacío y se usa modo Thin.
ORACLE_LIB_DIR=

# SQL Server
SQLSERVER_HOST=SRV-MIGSK2
SQLSERVER_PUERTO=1433
SQLSERVER_BD=Gobierno
SQLSERVER_USUARIO=admin
SQLSERVER_CONTRASENA=
SQLSERVER_POOL_MIN=1
SQLSERVER_POOL_MAX=5

# Active Directory
AD_DOMINIO=gviz.com
AD_URL=ldap://gviz.com:389
AD_BASE_DN=dc=gviz,dc=com

# Logs
LOG_DIRECTORIO=C:\logs\nexus
LOG_NIVEL=info
LOG_RETENCION_DIAS=30

# Estáticos del frontend compilado
ESTATICOS_DIRECTORIO=./public
